# Korean TV Live App
*.iml
.gradle
/local.properties
/.idea
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
/app/build
*.apk
*.aab
*.jks
*.keystore
.navigation/
captures/
output.json
*.hprof
